# Flask Backend
Flask==3.1.0
flask-cors==5.0.0
flask-jwt-extended==4.7.1
flask-socketio==5.4.1

# Database
pymongo==4.10.1
pymongo[srv]==4.10.1

# Validation & Serialization
marshmallow==3.23.1

# MQTT
paho-mqtt==2.1.0

# Image Processing
Pillow==10.4.0

# Utilities
python-dotenv==1.0.1
bcrypt==4.2.0
gunicorn==23.0.0
eventlet==0.37.0
colorlog==6.8.2

# For ML integration
numpy
requests==2.32.3
pandas
scikit-learn
joblib

# Notifications
twilio==9.0.0
